/*========== GOOGLE FONT ==========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Space+Grotesk&display=swap');

/*========== VARIABLE CSS ==========*/
:root{
  --header-height: 3.5rem;
  --font-semi-bold: 600;
  --font-bold: 700;

/*========== Colors ==========*/
  --first-color: #FF1CC0;
  --first-color-alt: #B131FA;
  --white-color: #FAFAFF;
  --black-color: #101010;
  --black-color-alt: #606060;
  --purple-color: #4A0074;

/*========== Font and Typography ==========*/
/*.5rem = 8px | 1rem = 16px...*/
--body-font: "Space Grotesk", serif;
--big-font-size:3rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--normal-font-font: .938rem;
--small-font-size: .75rem;

@media screen and (min-width: 768px){
  --big-font-size:6rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --normal-font-font: 1rem;
  --small-font-size: .813rem;
  }


/*========== Font weight ==========*/
--font-regular: 400;
--font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

/*========== Responsive Typography ==========*/
@media screen and (min-width: 1150px){
  :root{
    --biggest-font-size: 6.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*========== BASE ==========*/
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  background-color: var(--white-color);
  color: var(--black-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  }

/*========== REUSABLE CSS CLASSES ==========*/
.container{
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main{
  overflow: hidden;
}

/*========== HEADER AND NAVIGATION ==========*/
.header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  background-color: var(--white-color);
  z-index: var(z-fixed);
  transition: box-shadow .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav__logo{
  color: var(--black-color);
  font-weight: var(--font-bold);
}

.nav__toggle,
.nav__close{
  font-size: 1.5rem;
  cursor: pointer;
}

/*Navigation for mobile devices*/
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top:-100%;
    left:0;
    background-color: var(--white-color);
    width: 100%;
    padding-block: 4.5rem;
    box-shadow: 0 8px 16px hsla(o, 0%, .1);
    transition: top .4s;
  }
}

.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color:var(--black-color);
  font-weight:var(--font-bold);
}

.nav__link:hover{
  text-decoration: underline;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/*Show menu*/
.show-menu{
  top:0;
}







